USE [Sys_Base_Db]
GO
/****** Object:  Table [dbo].[Sys_Icon]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Icon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](50) NULL,
	[Custom] [nvarchar](60) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_DncIcon] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sys_Menu]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Menu](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](255) NULL,
	[Alias] [nvarchar](255) NULL,
	[Icon] [nvarchar](128) NULL,
	[ParentGuid] [uniqueidentifier] NULL,
	[ParentName] [nvarchar](max) NULL,
	[Level] [int] NOT NULL,
	[Description] [nvarchar](800) NULL,
	[Sort] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[IsDefaultRouter] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Component] [nvarchar](255) NULL,
	[HideInMenu] [int] NULL,
	[NotCache] [int] NULL,
	[BeforeCloseFun] [nvarchar](255) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_DncMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sys_Permission]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Permission](
	[Id] [nvarchar](20) NOT NULL,
	[MenuId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionCode] [nvarchar](80) NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_DncPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sys_Role]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Role](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[IsSuperAdministrator] [bit] NOT NULL,
	[IsBuiltin] [bit] NOT NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_DncRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sys_RolePermissionMapping]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_RolePermissionMapping](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [nvarchar](50) NOT NULL,
	[PermissionId] [nvarchar](20) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [int] NULL,
	[CreatedByUserGuid] [uniqueidentifier] NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Sys_RolePermissionMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sys_User]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_User](
	[Id] [uniqueidentifier] NOT NULL,
	[LoginName] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Password] [nvarchar](255) NULL,
	[Avatar] [nvarchar](255) NULL,
	[UserType] [int] NOT NULL,
	[IsLocked] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedByUserGuid] [uniqueidentifier] NOT NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[Description] [nvarchar](800) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_DncUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sys_UserRoleMapping]    Script Date: 2019/8/14 23:44:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_UserRoleMapping](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [nvarchar](50) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[IsDeleted] [int] NULL,
	[CreatedByUserGuid] [uniqueidentifier] NULL,
	[CreatedByUserName] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedByUserGuid] [uniqueidentifier] NULL,
	[ModifiedByUserName] [nvarchar](max) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_Sys_UserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Sys_Icon] ON 

INSERT [dbo].[Sys_Icon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (1, N'ios-add', NULL, NULL, NULL, NULL, 1, 0, CAST(0x0750736A6F7DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[Sys_Icon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (2, N'md-paper-plane', NULL, N'#0285FF', NULL, NULL, 1, 0, CAST(0x0774667D6F7DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x07CC3F97897DF93E0B AS DateTime2), NULL, N'')
INSERT [dbo].[Sys_Icon] ([Id], [Code], [Size], [Color], [Custom], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (3, N'ios-partly-sunny', NULL, N'#FA9B07', NULL, NULL, 1, 0, CAST(0x07E8677D6F7DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x07C5928D7F7DF93E0B AS DateTime2), NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[Sys_Icon] OFF
INSERT [dbo].[Sys_Permission] ([Id], [MenuId], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'2EKdG4Ir', N'2f458429-3976-408f-8a4f-aacbfe7d82cc', N'删除', N'delete', NULL, N'', 1, 0, 1, N'00000000-0000-0000-0000-000000000000', CAST(0x077BEE20D080113F0B AS DateTime2), N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[Sys_Permission] ([Id], [MenuId], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'30K14RFe', N'aebda189-0bf8-4f4e-8a7b-7324e9f76bed', N'查看', N'tools_methods_page_view', NULL, N'', 1, 0, 0, N'00000000-0000-0000-0000-000000000000', CAST(0x0745AD1ACD8D103F0B AS DateTime2), N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[Sys_Permission] ([Id], [MenuId], [Name], [ActionCode], [Icon], [Description], [Status], [IsDeleted], [Type], [CreatedByUserGuid], [CreatedOn], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'73o5I0zh', N'793e0f5d-0846-46de-968d-5e59d919b153', N'备份', N'system_settings_backup', NULL, N'', 1, 0, 1, N'00000000-0000-0000-0000-000000000000', CAST(0x07BF5173F693003F0B AS DateTime2), N'超级管理员', NULL, NULL, NULL)
INSERT [dbo].[Sys_Role] ([Id], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'9PeVLUMU', N'超级管理员', N'', 1, 0, CAST(0x079D2753FB8DF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', NULL, NULL, NULL, 1, 1)
INSERT [dbo].[Sys_Role] ([Id], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'C7kPHIwu', N'普通用户', N'', 1, 0, CAST(0x0775F6D95B85F53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x07618FBB077D143F0B AS DateTime2), NULL, N'管理员', 0, 0)
INSERT [dbo].[Sys_Role] ([Id], [Name], [Description], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [IsSuperAdministrator], [IsBuiltin]) VALUES (N'WPbv96HC', N'管理员', N'', 1, 0, CAST(0x0797326F5685F53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'超级管理员', CAST(0x0779A2B4097D143F0B AS DateTime2), NULL, N'管理员', 0, 1)
INSERT [dbo].[Sys_RolePermissionMapping] ([Id], [RoleId], [PermissionId], [CreatedOn], [IsDeleted], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'760168bc-798b-4237-b6d8-02e408938aad', N'WPbv96HC', N'x0Mo9SJX', CAST(0x07185CB512B29E3F0B AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_RolePermissionMapping] ([Id], [RoleId], [PermissionId], [CreatedOn], [IsDeleted], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'16065323-8640-447b-8ccd-0601960325a4', N'WPbv96HC', N'PNfKDg06', CAST(0x07EE58B512B29E3F0B AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_RolePermissionMapping] ([Id], [RoleId], [PermissionId], [CreatedOn], [IsDeleted], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'9eb907cd-558e-46e0-bf28-1e08949aec03', N'C7kPHIwu', N'N76RWAiv', CAST(0x07308049D480113F0B AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_User] ([Id], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'user001', N'普通用户001', N'111111', N'', 2, 0, 1, 0, CAST(0x07D3967C158EF93E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_User] ([Id], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'admin', N'管理员', N'111111', NULL, 1, 0, 1, 0, CAST(0x070000000000F53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', NULL, CAST(0x07A0809E66810E3F0B AS DateTime2), NULL, N'', NULL)
INSERT [dbo].[Sys_User] ([Id], [LoginName], [DisplayName], [Password], [Avatar], [UserType], [IsLocked], [Status], [IsDeleted], [CreatedOn], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName], [Description]) VALUES (N'20263da4-aed4-4aba-a6cc-b985c016858e', N'administrator', N'系统管理员', N'111111', N'https://file.iviewui.com/dist/a0e88e83800f138b94d2414621bd9704.png', 0, 0, 1, 0, CAST(0x0777A16EEC7FF53E0B AS DateTime2), N'00000000-0000-0000-0000-000000000000', N'系统管理员', CAST(0x07CFB7B79B80113F0B AS DateTime2), NULL, N'', NULL)
INSERT [dbo].[Sys_UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedOn], [IsDeleted], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'7f6ed831-de60-4816-9e62-7ff8c3c7cbec', N'20263da4-aed4-4aba-a6cc-b985c016858e', N'9PeVLUMU', CAST(0x072AB3454490F93E0B AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedOn], [IsDeleted], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'8c299dc1-f109-4569-9a1a-8dfe282fc57d', N'd7f32600-64c3-484d-a933-2d4a62bda0bc', N'C7kPHIwu', CAST(0x071A43F26E7A143F0B AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Sys_UserRoleMapping] ([Id], [UserId], [RoleId], [CreatedOn], [IsDeleted], [CreatedByUserGuid], [CreatedByUserName], [ModifiedOn], [ModifiedByUserGuid], [ModifiedByUserName]) VALUES (N'660afd97-b74b-4853-bf35-9c061c362728', N'684eca5e-2aeb-4478-ba70-8a6b29f78696', N'WPbv96HC', CAST(0x07C1CDCEFB8FF93E0B AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
